#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.stories {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 1.5rem;
}

.story-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  max-width: 300px;

  border: 1px solid #464646;
  border-radius: 0.8rem;
}

.story-item-info,
.story-item-header {
  margin: 0.8rem;
}
